@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-spin {
    .ant-spin-dot-item {
        background-color: #F97316;
    }

    .ant-spin-text {
        color: #F97316;
    }
}

.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border-color: #F97316;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: #F97316 !important;
    box-shadow: 0 0 0 2px rgba(249, 115, 22, 0.2) !important;
}

.ant-textarea-focused {
    border-color: #F97316 !important;
    box-shadow: 0 0 0 2px rgba(249, 115, 22, 0.2) !important;
}

.custom-modal {
    position: relative;
}

.custom-modal .ant-modal {
    position: relative;
    top: 0;
    padding-bottom: 0;
    transform: translateY(0);
    transition: all 0.3s ease-out;
}

.custom-modal.modal-enter .ant-modal,
.custom-modal.modal-exit-active .ant-modal {
    transform: translateY(100%);
}

.custom-modal.modal-enter-active .ant-modal {
    transform: translateY(0);
}

.custom-modal .ant-modal-content {
    margin-bottom: 0;
}

.ant-slider .ant-slider-handle::after {
    // box-shadow: 0 0 0 0 !important;
    // border-radius: 50%;
    box-shadow: 0px 6px 13px 0px #0000001F;

    box-shadow: 0px 0.5px 4px 0px #0000001F;

}

.ant-slider .ant-slider-handle:focus::after {
    // box-shadow: 0 0 0 0 !important;
    outline: none;

    box-shadow: 0px 6px 13px 0px #0000001F;

box-shadow: 0px 0.5px 4px 0px #0000001F;

}

.ant-slider .ant-slider-dot-active {
    border-color: #F97316 !important;
}

.ant-slider:hover .ant-slider-dot {
    border-color: #f9741685 !important;
}

.ant-slider .ant-slider-dot {
    border-color: #f9741685 !important;
}

.ant-slider-rail {
    background: rgb(249, 115, 22, 0.2) !important;
}

.ant-slider-track {
    background: #ffdcc0 !important;
}

.ant-slider-dot.ant-slider-dot-active {
    display: none !important;
}

.ant-slider-dot {
    display: none !important;
}

.ant-slider-handle {
    background: transparent !important;
}

.CircularProgressbar-text{
    font-weight: 600;
    z-index: 1;
}